[submodule "External/spdlog"]
	path = External/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = v1.x
[submodule "External/vk-bootstrap"]
	path = External/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap.git
[submodule "External/glfw"]
	path = External/glfw
	url = https://github.com/glfw/glfw.git
